{% extends 'base.html' %}
{% load static %}

{% block title %}Cardápio - IFEED{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'estilos/admin.css' %}">
{% endblock %}

{% block content %}
<main class="admin-main">
    <h1>{% if cardapio %}Editar Cardápio{% else %}Novo Cardápio{% endif %}</h1>
    <form method="post" class="feedback-card">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-secondary">Salvar</button>
        <a href="{% url 'cardapio_list' %}">Cancelar</a>
    </form>
</main>
{% endblock %}
